*.cache
*.user
*.opensdf
*.sdf
lib/packages
.vs
bin/
obj/
*.dbmdl
_last_build/
*.log
*.ipch
*.opendb
*.vc.db
*.bak
*.suo
*.msi
*.g.wxs
*.licx
/src/debug.config
*.orig
*.backup
/src/EMS.Server/Properties/PublishProfiles/FolderProfile.pubxml
DatabaseMakerBase.pyc
DatabaseMakerBase.py
DatabaseProjectTools.exe
.idea
packages